p{
    background-color: #fff;
    padding: 30px;
    text-align: center;
    color: #000;
}
.footer-top{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .icons{
        margin-top: 10px;
        font-size: 20px;
        svg{
            margin: 10px 10px;

        }
        display: flex;
    }
    .link{
        margin: 0px 10px ;
        font-weight: 600;
        color: #777;
    }
}
.footerr{
    padding: 20px;
}