nav{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    #desktop-nav{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                .link{
                    font-size: 24px;
                    font-weight: 800;
                    .shop{
                        color: #ff0000;
                    }
                }
            }
            .pages{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .page-lists{
                    display: flex;
                    
                    .list{
                        .link{
                            display: inline-block;
                            padding: 30px 10px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
                .icons{
                    margin: 0 10px;
                    .icon-btn{
                        margin: 0 10px;
                        background-color: transparent;
                        border: none;
                    }
                    .basket-icon{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        background-color: #ececec;
                        border-radius: 50%;
                        .count{
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            font-size: 12px;
                            font-weight: 600;
                            border-radius: 50%;
                            color: #fff;
                            background-color: #ff0000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            bottom: 25px;
                            left: 30px;
                        }
                    }
                }
            }
        }
    }
    #mobile-nav{
        display: none;
        .container{
            .logo{
                display: flex;
                justify-content: space-between;
                padding: 30px 0;
                .link{
                    font-size: 24px;
                    font-weight: 800;
                    .shop{
                        color: #ff0000;
                    }
                }
                .nav-btn{
                    background-color: transparent;
                    border: none;
                    font-size: 18px;
                    margin-left: 20px;
                }
                .icons{
                    .icon-btn{
                        margin: 0 10px;
                        background-color: transparent;
                        border: none;
                        .link{
                            font-size: 16px;
                        }
                    }
                    .basket-icon{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        background-color: #ececec;
                        border-radius: 50%;
                        .count{
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            font-size: 12px;
                            font-weight: 600;
                            border-radius: 50%;
                            color: #fff;
                            background-color: #ff0000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            bottom: 25px;
                            left: 30px;
                        }
                    }
                }
            }
           
        }
        #side-nav{
            width: 50%;
            height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 11;
            width: 0;
            transition: 300ms;
            overflow: hidden;
            background-color: #fff;
            opacity: 0.9;
            &.active{
                width: 60%;
            }
            .icon-container{
                display: block;
                text-align: end;
            }
            .close-btn{
                background-color: transparent;
                border: none;
                text-align: end;
                font-size: 24px;
                padding: 10px;
            }
            .pages{
                text-align: end;
                .page-lists{
                    
                    .list{
                        .link{
                            display: block;
                            padding: 15px 10px;
                            font-size: 14px;
                            font-weight: 500;
                            border-bottom: 1px solid #B5AEC4;
                        }
                    }
                }
              
            }
        }
    }
   
}

@media screen and (max-width:992px) {
    nav{
        #desktop-nav{
            display: none;
        }
        #mobile-nav{
            display: block;
        }
    }
}