#AddPage {
    padding: 100px 0;
    background-color: #E3E3E3;
    color: #000;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .add-form {
      .form-control {
        width: 500px;
      }
      .error{
        color: #ff0000;
      }
      .btn-primary{
        margin-top: 30px;
      }
    }
  }
}
#ProductTable{
    padding: 100px 0;
    .container{
        tbody{
            img{
                max-width: 100px;
            }
        }
    }
    .form-control{
        width: 400px;
    }
    .buttons{
        margin: 20px 0;
        button{
            margin: 0 10px;
        }
    }
}
